In [43]:
def push(message):
    """
    Save current notebook and push whole current dir to origin/master
    
    Param:
        message : str 
            Commit's message
    
    Return:
        None
    """
    assert(len(message.strip())>10)
    import subprocess
    from IPython.display import display, Javascript
    
    cmds = [  "git add .",
              "git commit -m ", 
              "git push"]
    
    # save current notebook
    display(Javascript('IPython.notebook.save_checkpoint();'))
    for cmd in cmds:
        cmd = cmd.split()
        if "commit" in cmd: 
            cmd.append( f"'{message}'") 
        print(" ".join(cmd))
        subprocess.check_output(cmd)
    print("Fini.")

In [1]:
import pandas as pd

# 1) création de catégories

In [6]:
jours = ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"]
jours

['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']

## Transformation d'une liste de valeurs en une liste de catégorie :

In [25]:
categorie = pd.Categorical(jours, # -> liste de valeurs à changer en catégorie 
                           categories=jours, # -> les catégories à appliquer
                           ordered=True ) # -> le fait que les catégories sont ordonnées

In [26]:
categorie # une liste de valeur dont les valeurs sont désormais ordonnables

['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']
Categories (7, object): ['lundi' < 'mardi' < 'mercredi' < 'jeudi' < 'vendredi' < 'samedi' < 'dimanche']

## application sur une dataframe

In [34]:
df = pd.DataFrame(jours)

In [35]:
df.columns = ["jours"] # renommage de la colonne 0 en jours

In [36]:
df2 = df.append(df)

#### Transforme une colonne de string en une colonne ordonnée de catégories => ce qui va me permettrre de faire un tri ensuite

In [38]:
df2["jours"] = pd.Categorical(df2.jours, categories=jours, ordered=True)

In [41]:
df2.sort_values("jours")

      jours
0     lundi
0     lundi
1     mardi
1     mardi
2  mercredi
2  mercredi
3     jeudi
3     jeudi
4  vendredi
4  vendredi
5    samedi
5    samedi
6  dimanche
6  dimanche

In [42]:
moyen_de_communication = ["twitter", "mail", "téléphone", "rdv physique"]

In [ ]:
push("pour suivre")